.container{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.text{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #000;
}


.page-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

.page-subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: .875em;
    color: #000;
    text-align: center;
    line-height: 20px;
}