.menu{
    width: 100%;
    height: 75px;
    background: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.75);

    
    .container{
        display: flex;
        justify-content: space-between;
    }

    .icons{
        width: 30px;
        height: 30px;
    }
}

.home{
    .menu{
        box-shadow: 0px -5px 20px 0px rgba(222,45,36,0.75);
    }
}

.programas{
    .menu{
        box-shadow: 0px -5px 20px 0px rgba(244,151,30,0.75);
    }
}

.galeria{
    .menu{
        box-shadow: 0px -5px 20px 0px rgba(69,179,237,0.75);
    }
}

.buscar{
    .menu{
        box-shadow: 0px -5px 20px 0px rgba(222,45,36,0.75);
    }
}