.galeria,.band {
    
    .content {
        margin: 75px 0 80px;
    }

    .logo {
        width: 100%;
    }

    .alude {
        background: url('../imgs/galeria/alude.jpeg');
        background-size: cover;
    }

    .pense {
        background: url('../imgs/galeria/pense.jpg');
        background-size: cover; 
    }

    .bullet-bane {
        background: url('../imgs/galeria/bullet-bane.jpg');
        background-size: cover; 
    }

    .dead-fish {
        background: url('../imgs/galeria/dead-fish.jpg');
        background-size: cover; 
    }

    .garage-fuzz {
        background: url('../imgs/galeria/garage-fuzz.jpg');
        background-size: cover; 
    }


    a {
        text-decoration: none;
    }
    .band {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 25% 0;
        margin: -25px 0 30px;
        position: relative;

        .band-image {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: -1;
        }

        .band-title {
            font-size: 2em;
            color: $white;
            font-weight: 700;
            margin-top: -22%;
            text-shadow: 0px 0px 20px #000;
        }
    }

    .content {
    }
    
    .band-infos {
        margin-bottom: 75px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10%;
        
        .topic {
            font-weight: 900;
            line-height: 30px;
            margin-top: 20px;
        }

        .text-justify {
            text-align: justify;
            line-height: 25px;
            font-weight: 600;
        }
    }

    .closed-band {
        max-height: 0;
        height: 0;
        overflow-y: hidden;
        opacity: 0;
        transition: all 1s ease;
    }

    .opened-band {
        max-height: 100%;
        height: 100%;
        opacity: 1;
        transition: all 1s ease;
    }
    
    .players {
        position: absolute;
        bottom: 3%;
        right: 3%;
        .youtube {
            width: 50px;
            height: auto;
        }

        .spotify {
            width: 43px;
            height: auto;
            position: relative;
            top: -3px;
        }
    }
}