.home {
    .featured {
        margin: 5% 0;
    }

    .video-box {
        position: relative;

        #player {
            margin-top: 5%;
            z-index: 10;
        }

        .internet-alert {
            font-size: 1.5em;
            color: black;
            position: relative;
            top:-95px;
            left: 140px;
            z-index: -1;
        
            &:before {
                content: 'X';
                font-weight: bolder;
                font-size: 1.3em;
                color: $red;
                margin: 0 1%;
                position: absolute;
                left: 10px;
            }
        }
    }

    .bands {
        margin-top: 10%;

        .slider {
            margin-top: 5%;
        }

        .band {
            width: 125px;
            height: 105px;

            a {
                text-decoration: none;
            }

            .band-image-box {
                overflow: hidden;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                margin: 0 auto;
                box-sizing: border-box;
            
                .band-image {
                        width: 150%;
                        padding-right: 33px;
                        margin-left: -25px;
                }
            }

            .band-title {
                margin-top: 5%;
                color: $black;
                text-align: center;
            }
        }
    }
}