.home {
    .featured {
        margin: 5% 0;
    }

    #player {
        margin-top: 5%;
    }

    .bands {
        margin-top: 10%;

        .slider {
            margin-top: 5%;
        }

        .band {
            width: 125px;
            height: 105px;

            a {
                text-decoration: none;
            }

            .band-image-box {
                overflow: hidden;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                margin: 0 auto;
                box-sizing: border-box;
            
                .band-image {
                        width: 150%;
                        padding-right: 33px;
                        margin-left: -25px;
                }
            }

            .band-title {
                margin-top: 5%;
                color: $black;
                text-align: center;
            }
        }
    }

    .closed-band {
        max-height: 0;
        height: 0;
        overflow-y: hidden;
        opacity: 0;
        transition: all 1s ease;
    }

    .opened-band {
        max-height: 100%;
        height: 100%;
        opacity: 1;
        transition: all 1s ease;
    }
}